$base-color: #6894e6;
a {
  text-decoration: none;
}

.Main-container {
  padding-left: 5%;
  padding-right: 5%;
}
.Sidebar-head {
  width: 15%;
  padding-top: 2%;

  padding-bottom: 2%;
  //background-color: rgb(157, 166, 194);
}
.sidebar {
  border-bottom: 1px solid #d4d4da;
  color: #7f7f7f;

  .side-tab {
    padding: 10px 25px 25px;
  }

  .Project {
    padding: 10px 25px;
    border-radius: 4px 4px 4px 4px;
    background-color: $base-color;
    color: #ffffff;
    font-weight: bold;
  }
}
.sidebar-menu {
  display: flex;
  justify-content: space-between;
  //background-color: khaki;
  padding: 20px 28px;
  a {
    color: #7f7f7f;
  }
}
.active1 {
  a {
    color: $base-color;
    padding-bottom: 4px;
    border-bottom: 2px solid;
    font-weight: bold;
    text-align: center;
  }
}
.Folder-layout {
  color: #7f7f7f;
  overflow-y: hidden;
  //padding-left: 10%;
  //color: #7f7f7f;
  border: 1px solid #333333;
}
