$base-color: #6894e6;
a {
  text-decoration: none;
}

.Main-container {
  padding-left: 5%;
  padding-right: 5%;
}
.sidebar-container {
  display: flex;
}
.right-side {
  width: 80%;
}
.Sidebar-head {
  width: 15%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.sidebar {
  border-bottom: 1px solid #d4d4da;
  color: #7f7f7f;
  white-space: nowrap;

  .side-tab {
    padding: 10px 25px 25px;
  }

  .Project {
    padding: 10px 25px;
    border-radius: 4px 4px 4px 4px;
    background-color: $base-color;
    color: #ffffff;
    font-weight: bold;
  }
}
.sidebar-menu {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
  a {
    color: #7f7f7f;
    display: inline;
  }
}
.active1 {
  a {
    color: $base-color;
    padding-bottom: 4px;
    border-bottom: 2px solid;
    font-weight: bold;
    text-align: center;
  }
}
.Folder-layout {
  color: #7f7f7f;
  padding-bottom: 15px;
  overflow-x: auto;
}
