.list-container {
  display: flex;

  margin-left: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 93px;
  width: 96%;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 5px 5px;
  .bookmarkList-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 61px;
    width: 315px;
  }
  .image-container {
    height: 59px;
    width: 59px;
  }
  .content-container {
    height: 61px;
    width: 243px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;

    text-overflow: ellipsis;
  }
  .bookmark-name {
    padding: 1px 1px;
    text-align: left;
    margin-top: -2px;
    font-weight: normal;
    font-size: 16px;
  }
  .bookmark-description {
    font-weight: normal;
    padding-left: 3px;
    text-align: left;
    overflow: hidden;
    font-size: 15px;
    margin-top: -5px;
    color: gray;
    text-overflow: ellipsis;
  }
  .bookmark-folder {
  }
  .tags {
  }
  .oval {
    height: 20;
    width: 20;
    margin-left: 20px;
  }

  .image-list {
    height: 59px;
    width: 59px;
    border-radius: 10px;
  }
  .bookmark-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 16.73px;
    width: 144.72px;
  }
}
