.folder-dropdown {
  margin-left: 42px;
  .card {
    // position: absolute;
  }
  .dropdown-menu {
    left: 0;
    top: 0;
    padding-top: 10px;

    .toggle {
      cursor: pointer;
      padding: 10px;
      margin: 2px 2px 0 0;
      transition: background 0.25s;

      &:hover,
      &.active {
        background: rgba(0, 0, 0, 0.05);
      }
    }
    .menu {
      // position: absolute;
      right: 25px;
      top: 10px;
      overflow: hidden;
      width: 0;
      height: 0;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      z-index: 500;

      ul {
        list-style: none;
        padding: 0;
        // list-style-type: none;

        li {
          cursor: pointer;
          width: 100%;
          padding: 10px 10px;
          transition: background 0.25s, color 0.25s;
          display: flex;
          align-items: center;

          &:hover {
            color: rgb(0, 125, 255);
            background: rgba(0, 0, 0, 0.025);
          }

          .label {
            margin-left: 2px;
            font-size: 15px;
          }
        }
      }

      &.expanded {
        width: 130px;
        height: 144px;
        border-radius: 8px;
        position: absolute;
        left: 15px;
        z-index: 9999;
        background-color: white;
        top: 43px;
        margin-left: 135px;
      }
    }
  }
}
