@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.fa {
  margin-left: -12px;
  margin-right: 8px;
}

.input-submit,
.regular-button {
  position: relative;
  background: #6899e6;
  color: #fafafb;
  text-transform: inherit;
  text-align: center;
  border: none;
  outline: none;
  margin-top: 40px;
  padding: 8px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 10px;
  min-width: 100%;
  border-radius: 5px;
  height: 42px;
  letter-spacing: normal;
  font-family: inherit;
  display: inline-block;
  margin-right: 20px;
}
.input-submit:disabled,
.regular-button:disabled {
  cursor: not-allowed;
  background-color: #8b8b8b;
}
.input-submit:hover:enabled,
.regular-button:hover:enabled {
  cursor: pointer;
}
.input-submit:active,
.regular-button:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}
