.input-submit,
.regular-button {
  background: #6899e6;
  color: #fafafb;
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
  width: 100%;
  border-radius: 5px;
}
.input-submit:disabled,
.regular-button:disabled {
  cursor: not-allowed;
  background-color: #8b8b8b;
}
.input-submit:hover:enabled,
.regular-button:hover:enabled {
  cursor: pointer;
}
.input-submit:active,
.regular-button:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}
