@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.folder-icon {
  width: 17px;
  height: 12px;
  padding-left: 3%;
  padding-right: 7%;
}
.dropdown-icon {
  width: 12px;
  height: 12px;
  padding-left: 3%;
  padding-right: 3%;
}

.active .dropdown-icon {
  transform: rotate(90deg);
}
.tree-folder {
  // padding-left: 6%;
  // white-space: nowrap;
  // margin-top: 3px; //ch
  // margin-bottom: 3px; //ch
  // width: 267px; //ch
  // height: 35px; //ch
  // padding: 8px 8px;//ch
  border-radius: 8px;
  width: 100%;
  padding: 3px 3px;
  text-align: center;
  justify-content: center;
  // .show-three-icon {
  //   //ch
  //   display: none; //ch
  // }
}
.folder-name {
  flex: 1;
  text-align: left;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  left: 0;
  text-overflow: ellipsis;
}
.inside-folder {
  display: flex;
  position: relative;
  align-items: center;
  padding-right: 0;
}
.tree-folder:hover {
  background-color: #f1f1f1;
  // .show-three-icon {
  //   //ch
  //   display: block; //ch
  // }
}
