@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.folder-icon {
  width: 17px;
  height: 12px;
  padding-left: 3%;
  padding-right: 7%;
}
.dropdown-icon {
  width: 12px;
  height: 12px;
  padding-left: 3%;
  padding-right: 3%;
}

.active .dropdown-icon {
  transform: rotate(90deg);
}
.tree-folder {
  padding-left: 6%;
  white-space: nowrap;
  border-radius: 8px;
}
.tree-folder:hover {
  background-color: #f1f1f1;
}
