.sign1 {
  width: 17px;
  height: 13px;
  padding-left: 3%;
  padding-right: 3%;
}
.sign2 {
  width: 15px;
  height: 10px;
  padding-left: 3%;
  padding-right: 3%;
}
.tree-folder {
  padding-left: 10%;
  padding-top: 2%;
}
