.sign1 {
  width: 17px;
  height: 12px;
  padding-left: 3%;
  padding-right: 7%;
}
.sign2 {
  width: 12px;
  height: 12px;
  padding-left: 3%;
  padding-right: 3%;
}

.active .sign2 {
  transform: rotate(90deg);
}
.tree-folder {
  padding-left: 6%;
  //overflow: hidden;
  //white-space: nowrap;
  //overflow: auto;
}
