$text-dark: #3c4250;
$base-color: #6894e6;
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d4d4da;
  padding: 20px 75px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  a {
    color: $text-dark;
    padding: 25px 35px;
  }
}

.navbar-menu {
  .active {
    a {
      color: $base-color;
      border-bottom: 3px solid;
      font-weight: bold;
    }
  }
}
