.header-container {
  padding: 5px 5px;

  section {
    width: 65%;
    color: white;
  }

  .main {
    margin: 10px 10px;
    display: flex;
    background-color: #5960c1;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .main ::after {
    clear: both;
    display: table;
  }

  label {
    padding: 12px 12px 12px 0;
    padding-left: 30px;
    margin-right: auto;
    color: white;
    display: inline-block;
  }
  .add-quick {
    padding-left: 30px;
  }
  .img-container {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    justify-content: center;
  }
  .btn {
    background-color: white;
    color: black;
    font-size: 24px;
    border: 2px;
    float: right;
    border-radius: 10px;
    padding: 10 px 10 px;

    margin-top: -5%;
    margin-right: 8%;
    font-style: poppins;
  }

  .right {
    width: 35%;
    display: flex;
    justify-content: center;
    height: 100%;
  }

  input:focus {
    outline: none;
    color: white;
    background-color: #686fc5;
  }

  $WHITE_COLOR: #fff;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $WHITE_COLOR !important;
  }
}
