.shared-button {
  background-color: #6795e6;
  border-radius: 8px;
  padding: 8px 14px;
  border: 2px solid #ffffff;
  margin-right: -10px;
  color: white;
}
.shared-button:hover {
  background-color: #5860c1;
}
