.auth-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(90deg, #f8f8f9 60%, #ffff 40%);
  min-height: 100vh;

  .image-container {
    margin-left: 37%;
    flex: 0 0 50%;
  }
  .sign-up-form {
    width: 40%;
  }
  .main-heading {
    font-size: 42px;
    margin: 0px 0px 12px;
    font-weight: 700;
  }
  .sub-text {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .fields-container {
    display: flex;
    flex-direction: column;
    width: 22%;
    flex: 0 0 50%;
  }

  .auth {
    margin: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .user-form {
    max-width: 500px;
    margin: 0 auto;
  }

  .form {
    background: #0e101c;
    max-width: 400px;
    margin: 0 auto;
  }

  .separator {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .separator {
    margin-top: 40px;
    color: #84869a;
  }

  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #84869a;
  }

  .separator:not(:empty)::before {
    margin-right: 0.25em;
  }

  .separator:not(:empty)::after {
    margin-left: 0.25em;
  }

  .header-login {
    margin: auto;

    .main-text {
      font-size: 42px;
    }

    .sub-text {
      font-size: 18px;
      font-weight: 500;
    }
  }
}
